@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-accent: #70e000;
	--secondary-accent: #3cb0cd;
	--inside-full: 768px;
	--header-border-bottom: inset 0 -1px 0 0 rgba(223, 223, 223, 0.1);
	--banner-height: 2.5rem;
}

@layer components {
}

@layer utilities {
	/** Disable scrollbar when overflow-scroll is applied */
	/** Source: https://github.com/tailwindlabs/tailwindcss/discussions/2394 */
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

/** -- Twemoji Settings -- **/
/* when in components, emoji does not scale, because styles are not imported, because classes are not present at the time of loading */
.emoji {
	height: 1em;
	width: 1em;
	/* width: 12px; */
	display: inline;
	margin-left: 0.1em !important;
}

@layer base {
	.header-border {
		/* box-shadow: var(--header-border-bottom); */
		/* transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s; */
		/* transition: box-shadow 0.2s ease 0s; */
		@apply dark:shadow-menuDark shadow-menuLight;
	}
	.desktop-expandable-menu-container {
		/* transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s; */
		/* transition: box-shadow 0.2s ease 0s; */
		@apply dark:shadow-menuTopBottomDark shadow-menuTopBottomLight;
	}
}

/** Support for subscript and superscript in tailwind */
/** Use <sup> for superscript or <sub> for subscript*/
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.2em;
	vertical-align: super;
}
sub {
	bottom: -0.25em;
	vertical-align: sub;
}
